__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.DS_Store
*.pdf
!watermarked_sample.pdf
.streamlit/
android_project_source/

# Auto-added standard ignores
*.env
*.log
.env
.env.*.local
.env.local
.pytest_cache/
Thumbs.db
